h1 {
    color: brown;
}

* {
    border: solid;
}
.header{
    background-color: #feffc4;
    display: flex;
    justify-content: space-between;
}
.grid{
       display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item{
    display : flex;
justify-content: baseline;
}

.footer{
  
    display:flex;
    justify-content: space-around;
    
}